<!DOCTYPE html>
<html>
    <head>
        <title>Speedrun Math - About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='quhack.css') }}">
        <script src="extra.js"></script>
        <div class="topnav">
            <a><img width="5%" height = "5%" src="{{ url_for('static', filename='logo.png') }}"></a>
            <a class="active" href="/">Home</a>
            <a href="quhack2.html">Addition</a>
            <a href="quhack3.html">Subtraction</a>
            <a href="quhack4.html">Multiplication</a>
            <a href="quhack5.html">Division</a>
            <a href="quhack6.html">Mixed</a>
            <a class="active" href="quhack7.html">About</a>

            

          </div>
    </head>
    <body>
        <div class="all">
            <h2>Created by Samia Saeed,Dora Mckenzie, and Linnea Ausema. Meerkat Mathematics is a quiz-style game created to help young students practice basic arithmetic facts. 
                This website makes use of HTML, CSS, and Javascript, but also incorporates python and flask for the logical components of the code. </h2>

                <img src="{{ url_for('static', filename='mainpage.png') }}" width="100%">
            
        </div>
        <div class="credits">
            <p>Website Made By: Samia Saeed  
                <br>
                </p>

        </div>


    </body>
</html>