<!DOCTYPE html>
<html>
    <head>
        <title>Speedrun Math - Divide</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='quhack.css') }}">
        <script src="extra.js"></script>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="quhack2.html">Addition</a>
            <a href="quhack3.html">Subtraction</a>
            <a href="quhack4.html">Multiplication</a>
            <a class="active" href="quhack5.html">Division</a>
            <a href="quhack6.html">Mixed</a>
            <a href="quhack7.html">About</a>
            
            

          </div>
    </head>
    <body>
        <div class="all"> 
            <h1>Simple Division Practice</h1>

            <!-- If we have a problem to solve -->
            {% if problem %}
                <p><h1>Problem: {{ problem_str }}</h1></p>
                {% if message %}
                    <p style="color:red;">{{ message }}</p>
                {% endif %}
                <form method="POST" action="/div">
                    <input type="text"  class="submit" name="user_answer" placeholder="Quotient" />
                    <input type="text"  class="submit" name="user_answer2" placeholder="Remainder" />
                    <p>Round to nearest whole integer.</p>
                    <button class="submit" type="submit">Check</button>
                </form>
            
            <!-- If we are not currently showing a problem -->
            {% else %}
                {% if message %}
                    <p style="color:green;">{{ message }}</p>
                    <p>
                        <a href="quhack5.html">
                            <button  type="submit" class="submit">Reset</button>
                        </a>
                    </p>
                {% else %}
                    <form method="POST" action="/div">
                        <label for="max_number">Enter the maximum number:</label>
                        <input type="text" name="max_number" id="max_number" placeholder="e.g., 10" required />
                        <button  class="submit" type="submit">Get Problem</button>

                    </form>
                {% endif %}
            {% endif %}       
            <img src="{{ url_for('static', filename='division.png') }}">  

            
        </div>
        <div class="credits">
            <p>Website Made By: Samia Saeed    
                <br>
                 </p>

        </div>


    </body>
</html>