<!DOCTYPE html>
<html>
    <head>
        <title>Speedrun Math - About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='quhack.css') }}">
        <script src="extra.js"></script>
        <div class="topnav">

            <a href="/">Home</a>
            <a href="quhack2.html">Addition</a>
            <a href="quhack3.html">Subtraction</a>
            <a href="quhack4.html">Multiplication</a>
            <a href="quhack5.html">Division</a>
            <a href="quhack6.html">Mixed</a>
            <a href="quhack9.html">Self Assesment</a>
            <a href="quhack10.html">Fractions/Decimals</a>
            <a href="quhack11.html">Test</a>
            <a href="quhack12.html">Account</a>
            <a class="active" href="quhack7.html">About</a>

            

          </div>
    </head>
    <body>
        <div class="all">
            <br>
            <br>
            <br>
            <h2>Created by Samia Saeed. Speedrun is a quiz-style game created to help young students practice fundamental arithmetic facts. 
                This website makes use of HTML, CSS, and Javascript, but also incorporates python and flask for the logical components of the code. There is options to generate a variety style of math questions.  </h2>

            
            
        </div>
        <div class="credits">
            <p>Website Made By: Samia Saeed
                <br>
                </p>

        </div>


    </body>
</html>
