body{
    background-color:#86c0ba;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topnav {
    background-color:#56a19a;
    overflow: hidden;
    border-radius: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: (#5c977e);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #86c0ba;
    color: (#0c3f3a);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #86c0ba;
    color: (#0c3f3a);
  }
  .again{
    padding:0px;
    margin:0px;
  
  }
.btn {
    border-radius: 15px;
    border: solid 3px #0c3f3a;
    background-color: #6dafa9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 12px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;


}

#btn {
    margin-left: 60px;
    margin-right: 60px;
}


#h1{
  display: block;
  margin-left:auto ;
  margin-right: auto;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(11, 85, 90);
}

.h1 {
  color:  rgb(11, 85, 90);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
  color: rgb(11, 85, 90);
    font-weight: lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.all {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(11, 85, 90);
}


.equation {
  display: block;
}

#max_number {
  border-radius: 15px;
  border: solid 3px rgb(255, 201, 53);
  background-color: rgb(234, 132, 30);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color:  rgb(11, 85, 90);

}


.submit {
  border-radius: 15px;
  border: solid 3px rgb(255, 201, 53);
  background-color: rgb(234, 132, 30);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(11, 85, 90);
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  color:  rgb(11, 85, 90);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

}

.credits {
align-items: center;
margin-top: 100px; 
}

a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: larger;
  color: rgb(11, 85, 90);
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color:  rgb(11, 85, 90);
}

.Question{
  color: rgb(11, 85, 90);
  text-align: center;
}

.Type{
  color: rgb(11, 85, 90);
  text-align: center;
}

.Head{
  text-align: center;
  color:  rgb(11, 85, 90);

}

.btn1{
    text-align: center;
    border-radius: 15px;
    border: solid 3px #0c3f3a;
    background-color: #6dafa9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn2{
    text-align: center;
    border-radius: 15px;
    border: solid 3px #0c3f3a;
    background-color: #6dafa9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
  }

  .You{
    color: rgb(11, 85, 90);
    text-align: center;
  }