body{
    background-color: rgb(75, 13, 117);
    margin-left: 80px;
    margin-right: 80px;
}

.topnav {
    background-color:rgb(246, 134, 7);
    overflow: hidden;
    border-radius: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FFDAC6;
    color: rgb(0, 0, 0);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #FFB27F;
    color: rgb(0, 0, 0);
  }

.btn {
    border-radius: 15px;
    border: solid 3px #f17105;
    background-color: #FFB27F;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 12px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;


}

#btn {
    margin-left: 60px;
    margin-right: 60px;
}


#h1{
  display: block;
  margin-left:auto ;
  margin-right: auto;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(225, 225, 225);
}

.h1 {
  color: rgb(242, 244, 243);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
  color:white;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.all {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}


.equation {
  display: block;
}

#max_number {
  border-radius: 15px;
  border: solid 3px rgb(255, 201, 53);
  background-color: rgb(234, 132, 30);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

}


.submit {
  border-radius: 15px;
  border: solid 3px rgb(255, 201, 53);
  background-color: rgb(234, 132, 30);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

}

.credits {
align-items: center;
margin-top: 380px;

  
}

a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: larger;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(255, 255, 255);
}