body{
    background-color: (#D8F0E5);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topnav {
    background-color:(#93BDB9);
    overflow: hidden;
    border-radius: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: (#93BDB9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FFDAC6;
    color: (#C6E1E4);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: (#C6E1E4);
    color: (#C6E1E4);
  }
  .again{
    padding:0px;
    margin:0px;
  
  }
.btn {
    border-radius: 15px;
    border: solid 3px #f17105;
    background-color: #FFB27F;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 12px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;


}

#btn {
    margin-left: 60px;
    margin-right: 60px;
}


#h1{
  display: block;
  margin-left:auto ;
  margin-right: auto;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(225, 225, 225);
}

.h1 {
  color: rgb(242, 244, 243);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
  color:white;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.all {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color:white;
}


.equation {
  display: block;
}

#max_number {
  border-radius: 15px;
  border: solid 3px rgb(255, 201, 53);
  background-color: rgb(234, 132, 30);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;

}


.submit {
  border-radius: 15px;
  border: solid 3px rgb(255, 201, 53);
  background-color: rgb(234, 132, 30);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color:white;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

}

.credits {
align-items: center;
margin-top: 100px; 
}

a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: larger;
  color:white;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.Question{
  color:white;
  text-align: center;
}

.Type{
  color:white;
  text-align: center;
}

.Head{
  text-align: center;
  color: white;
}

.btn1{
    text-align: center;
    border-radius: 15px;
    border: solid 3px #f17105;
    background-color: #FFB27F;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn2{
    text-align: center;
    border-radius: 15px;
    border: solid 3px #f17105;
    background-color: #FFB27F;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
  }

  .You{
    color:white;
    text-align: center;
  }